
/*
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: black;
  font-style: normal;
} 

*/

.invisible {
  display: none;
}

.logo {
  margin-left: 30px;
  margin-top: 50px;
  width: 220px;
}

@media print {
  .pdf { display: none; }
}

