
/*
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: black;
  font-style: normal;
} 

*/

.invisible {
  display: none;
}


.logo {
  margin-left: 30px;
  margin-top: 50px;
  width: 220px;
}

.pediatric {
  background-color: pink;
  border: thin;
  border-color: black;
  border-radius: 5px;

}

#showPeds {
  display:none;
}

@media print {
  .pdf { display: none; }
}



