
.invisible {
  display: none;
}


.logo {
  margin-left: 30px;
  margin-top: 50px;
  width: 220px;
}

.pediatric {
  background-color: rgb(247, 224, 228);
  border: thin;
  border-color: gray;
  border-radius: 5px;
  border-style: solid;

}

#showPeds {
  display:none;
}

#finishedInstructions {
  border: thin lightgray;
  font-weight: normal !important;
  border-radius: 5px;
  font-size: 4.0rem;
  border-style: solid;

}

#movedInstuctions {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 4 rem !important;
}


.outputInstructions {
  display: none}


@media print {
  .pdf { display: none; }
  .inputInstructions {display: none}
  .outputInstructions {display:block}
}



